@(message: String)

@main("Welcome AA to Play") {
  @message
  <form action="@routes.PhonebookController.addContact()" method="post">
    <input name = "name" type = "text">
    <input name = "phoneNumber" type = "text">
    <button>Add</button>
  </form>

  <form action="@routes.PhonebookController.getContacts()" method="get">
    <button>get</button>
  </form>

  <form action="@routes.PhonebookController.deleteContact()" method="post">
    <input name = "id" type = "number">
    <input name = "name" type = "text">
    <input name = "phoneNumber" type = "text">
    <button>delete</button>
  </form>

  <form action="@routes.PhonebookController.changeContact()" method="post">
    <input name = "id" type = "number">
    <input name = "name" type = "text">
    <input name = "phoneNumber" type = "text">
    <button>change</button>
  </form>

  <form action="@routes.PhonebookController.findByName()" method="post">
    <input name = "filter" type = "text">
    <button>getByName</button>
  </form>

  <form action="@routes.PhonebookController.findByPhone()" method="get">
    <input name = "filter" type = "text">
    <button>getByPhone</button>
  </form>


}
